<div class="container w-4/5 border-solid border-4 border-light-blue-500 ...">
  <div id="jmap" >
    <div class="jmap-infobox">
      <h5 class="h5">全国のお米を探してみよう！</h5>
      <p>地図をクリックするとモーダルが表示されます。</p>
    </div>
  </div>
</div>
  <!-- モーダル用HTML -->
<div class="modal fade" id="prefectureModal" tabindex="-1" role="dialog" aria-labelledby="prefectureModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="prefectureModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span  id="closeIcon" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body overflow-auto" style="height:350px;">
            </div>
            <div class="modal-footer">
                <button id="closeString" type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<div class="w-4/5 border-solid border-4 border-light-blue-500 m-auto  ..."">
  <h1>カテゴリー検索</h1>
  <%= form_with model: @search_rices_form, scope: :q, url: rice_map_path,  method: :get do |f| %>
    <%= f.label :name, 'お米の品種名' %>
    <%= f.select :name, Rice.pluck(:name),{include_blank: '選択してください'},
      class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>

    <%= f.label :rice_prefecture, '都道府県' %>
    <%= f.select :rice_prefecture, Prefecture.names.map { |k, v| [ k , v ] },{include_blank: '選択してください'},
      class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>

    <%= f.label :status_category, 'お米の特徴' %>
    <%= f.select :status_category, @status_category, {include_blank: '選択してください'},
      class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"%>

    <%= f.submit '検索', class:"shadow bg-yellow-500 hover:bg-yellow-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" %>
  <% end %>
</div>
<div class="w-4/5 m-auto ">
  <div class="border-solid border-4 border-light-blue-500  ..." >
    <% if @rices.present? %>
      <% @rices.each do |rice| %>
        <%= link_to rice.name, rice_path(rice,keyword: rice.name) %>
        <br>
        <% rice.prefectures.each do |prefecture| %>
          <%= prefecture.name %>
        <% end%>
        <br>
      <% end %>
    <% else %>
      <p>該当するお米がありません</p>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag "rice_map" %>
