<div class="border-solid border-4 border-light-blue-500 ...">
  <h1 > 全国お米地図のページだよ </h1>
  <div id="jmap" >
    <div class="jmap-infobox">
      <h5 class="h5">世界に一つだけの地図</h5>
      <p>地図をクリックするとモーダルが表示されます。</p>
    </div>
  </div>
</div>
  <!-- モーダル用HTML -->
<div class="modal fade" id="prefectureModal" tabindex="-1" role="dialog" aria-labelledby="prefectureModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="prefectureModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span  id="closeIcon" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body overflow-auto" style="height:350px;">
            </div>
            <div class="modal-footer">
                <button id="closeString" type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

<%# ライス一覧のテスト %>
<div class="border-solid border-4 border-light-blue-500 ..." >
  <% @rices.each do |rice| %>
    <%= link_to rice.name, rice_path(rice) %>
    <br>
    <% rice.prefectures.each do |prefecture| %>
      <%= prefecture.name %>
    <% end%>
    <br>
  <% end %>
</div>

<h1>ライス検索</h1>
<%= search_form_for @q, url: rice_map_path do |f| %>
  <%= f.label :name_cont, 'お米の品種名' %>
  <%= f.select :name_cont, Rice.pluck(:name),{include_blank: 'お米の品種名'}%>
  <%= f.select :prefectures_name_eq, Prefecture.names.map { |k, v| [ k , v ] },{include_blank: '都道府県'}%>

  <%= f.submit '検索' %>
<% end %>

<%= javascript_pack_tag "rice_map" %>
