<h1 class="text-red-500 text-9xl"> お米の詳細ページだよ</h1>
<%= @rice.name %>
<%= @rice.characteristic %>

  <h1>Rakuserach</h1>
<div class='content'>
  <div id="search-box">
    <%= form_tag(rice_path(@rice), method: :get) do %>
        <%= text_field_tag :good, "",  id: "good_search", name: "keyword", placeholder: "キーワードを打ち込んでください", style: "width: 300px;"%>
        <button title="検索" type="submit">検索</button>
    <% end %>
  </div>
  <h2>検索結果</h2>
  <div id='good_list'>
  <%= link_to '楽天で検索', "https://search.rakuten.co.jp/search/mall/#{params[:keyword]}", class: 'text-red-500'  %>
  <% if @items.present? %>
    <% @items.first(3).each do |item| %>
      <div class="list">
      <% if item.image? %>
        <%= link_to item.url do %>
          <%= image_tag item.medium_image_urls[0], style: "width: 100px;height: 100px;display: inline-block;" %>
        <% end%>
      <%end%>
        <br>
        <%= item.name %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
