<% content_for(:title, "top") %>
<div class=" container my-8 bg-gray-50 rounded-2xl border-solid border-4 border-light-blue-500 ..." >
  <h3 class="text-center text-2xl my-8 font-bold" > 色々なお米を知って、<br>お気に入りのお米を見つけよう！</h3>

  <div class="sm:flex sm:ml-4 sm:my-32">
    <div class="my-auto w-full sm:w-1/2 sm:mx-auto">
      <div class="flex justify-center md:items-center mb-4">
        <h1 class="text-xl">1.</h1>
        <p class="text-lg ml-4">全国お米地図を見て色々な品種を見てみよう!</p>
      </div>
      <div class="text-center my-16">
        <%= link_to "全国のお米を探しに行く", rices_path,
          class: 'shadow w-1/2 sm:w-1/4 my-8 bg-yellow-500 hover:bg-yellow-300 focus:shadow-outline focus:outline-none text-white font-bold py-4 px-8 rounded-full' %>
      </div>
    </div>
    <div class="w-full sm:w-1/2 hidden sm:block">
      <%= image_tag 'image1.jpg', size: '300x500', class: 'h-auto max-w-lg rounded-xl mx-auto border-2 border-gray-500' %>
    </div>
  </div>

  <div class="sm:flex sm:ml-4 sm:my-32">
    <div class="w-full sm:w-1/2 hidden sm:block">
      <%= image_tag 'image2.jpg', size: '300x500', class: 'h-auto max-w-lg rounded-xl mx-auto border-2 border-gray-500' %>
    </div>
    <div class="my-auto w-full sm:w-1/2 sm:mx-auto">
      <div class="flex justify-center md:items-center mb-4">
        <h1 class="text-xl">2.</h1>
        <p class="text-lg ml-4">気になるお米をクリックして<br>お米の特徴を知ろう！</p>
      </div>
    </div>
  </div>

  <div class="sm:flex sm:ml-4 sm:my-32">
    <div class="my-auto w-full sm:w-1/2 sm:mx-auto">
      <div class="flex justify-center md:items-center mb-4">
        <h1 class="text-xl">3.</h1>
        <p class="text-lg ml-4">ユーザー登録をして、私の米(まい)ランキングを登録しよう！<br>(あなたの米(まい)ランキングは、お米総選挙に投票されます)</p>
      </div>
      <div class="text-center my-16">
        <%= link_to "ユーザー登録をする", new_users_path,
          class: 'shadow w-1/2 sm:w-1/4 my-8 bg-yellow-500 hover:bg-yellow-300 focus:shadow-outline focus:outline-none text-white font-bold py-4 px-8 rounded-full' %>
      </div>
    </div>
    <div class="w-full sm:w-1/2 hidden sm:block">
      <%= image_tag 'image3.jpg', size: '300x500', class: 'h-auto max-w-lg rounded-xl mx-auto border-2 border-gray-500' %>
    </div>
  </div>

  <div class="sm:flex sm:ml-4 sm:my-32">
    <div class="w-full sm:w-1/2 hidden sm:block">
      <%= image_tag 'image4.jpg', size: '300x500', class: 'h-auto max-w-lg rounded-xl mx-auto border-2 border-gray-500' %>
    </div>
    <div class="my-auto w-full sm:w-1/2 sm:mx-auto">
      <div class="flex justify-center md:items-center mb-4">
        <h1 class="text-xl">4.</h1>
        <p class="text-lg ml-4">気になるお米をクリックして<br>お米の特徴を知ろう！</p>
      </div>
      <div class="text-center my-16">
        <%= link_to "お米総選挙を見に行く", rice_ranking_path,
          class: 'shadow w-1/2 sm:w-1/4 my-8 bg-yellow-500 hover:bg-yellow-300 focus:shadow-outline focus:outline-none text-white font-bold py-4 px-8 rounded-full' %>
      </div>
    </div>
  </div>

</div>
