<% content_for(:title, "ユーザー作成") %>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8">ユーザ作成</h2>
      <%= form_with model: @user , local: true, class: "max-w-lg border rounded-lg mx-auto" do |f| %>
        <div class="flex flex-col gap-4 p-4 md:p-8">
          <%= render 'layouts/error_messages', model: f.object %>
            <div>
              <%= f.label 'ニックネーム' , class: "inline-block text-gray-800 text-sm sm:text-base mb-2" %>
              <%= f.text_field :name ,class:"w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2"  %>
            </div>

            <div>
              <%= f.label :email , class: "inline-block text-gray-800 text-sm sm:text-base mb-2" %>
              <%= f.text_field :email ,class:"w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2"  %>
            </div>

            <div>
              <%= f.label :password, class: "inline-block text-gray-800 text-sm sm:text-base mb-2" %>
              <%= f.password_field :password, class:"w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" %>
            </div>

            <div>
              <%= f.label :password_confirmation, class: "inline-block text-gray-800 text-sm sm:text-base mb-2" %>
              <%= f.password_field :password_confirmation, class:"w-full bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" %>
            </div>

            <%= f.submit "登録", class: "block bg-gray-800 hover:bg-gray-700 active:bg-gray-600 focus-visible:ring ring-gray-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3 w-50 mx-auto my-4" %>

          <div class="flex justify-center items-center relative mb-4">
            <span class="h-px bg-gray-300 absolute inset-x-0"></span>
          </div>

          <div class="flex justify-center items-center bg-gray-100 p-4">
            <p class="text-gray-500 text-sm text-center">ユーザー作成済みの方はこちら <a href="#" class="text-indigo-500 hover:text-indigo-600 active:text-indigo-700 transition duration-100">ログイン</a></p>
          </div>
        </div>
      <% end %>
  </div>
</div>
