<% content_for(:title, "マイページ") %>
<div class=" container my-8 bg-gray-50 w-full md:w-3/4 rounded-2xl border-solid border-4 border-light-blue-500 ..." >
  <div class="container flex flex-col items-center ">
    <div class="title">
      <h1 class="text-2xl my-4 font-bold"> マイページ </h1>
    </div>
    <div class="flex flex-col items-center">
      <h1 class="text-xl my-2 font-bold"> ニックネーム </h1>
      <h2> <%= "#{@user.name}"%></h2>
      <h1 class="text-xl my-2 font-bold"> メールアドレス</h1>
      <h2> <%= "#{@user.email}"%></h2>
    </div>
    <div class="my_ranking">
      <h1 class="text-center text-2xl my-4 font-bold">私の米（まい）ランキング</h1>
      <ul class="flex flex flex-col items-center">

      <%# 後でパーシャル設定にする %>
      <% if @user.user_rankings.present? %>
        <% if @user.user_rankings.find_by(rank:1) %>
          <div class="flex">
            <p class="mr-4">No1</p>
            <%= link_to  @user.user_rankings.find_by(rank:1).rice.name , rice_path(@user.user_rankings.find_by(rank:1).rice, keyword:@user.user_rankings.find_by(rank:1).rice.name) if @user.user_rankings.find_by(rank:1) %></p>
            <%= link_to user_ranking_path(@user,rank: 1), method: :delete, data: { confirm: "私の米（まい）ランキングNo1を削除しますか？" }  do %>
              <i class="fa-solid fa-delete-left ml-4"></i>
            <% end%>
          </div>
        <% end %>
        <% if @user.user_rankings.find_by(rank:2) %>
          <div class="flex">
            <p class="mr-4">No2</p>
            <%= link_to  @user.user_rankings.find_by(rank:2).rice.name , rice_path(@user.user_rankings.find_by(rank:2).rice, keyword:@user.user_rankings.find_by(rank:2).rice.name) if @user.user_rankings.find_by(rank:2)%></p>
            <%= link_to user_ranking_path(@user,rank: 2), method: :delete, data: { confirm: "私の米（まい）ランキングNo2を削除しますか？" }  do %>
              <i class="fa-solid fa-delete-left ml-4"></i>
            <% end%>
          </div>
        <% end %>
        <% if @user.user_rankings.find_by(rank:3) %>
          <div class="flex">
            <p class="mr-4">No3</p>
            <%= link_to  @user.user_rankings.find_by(rank:3).rice.name , rice_path(@user.user_rankings.find_by(rank:3).rice, keyword:@user.user_rankings.find_by(rank:3).rice.name) if @user.user_rankings.find_by(rank:3) %></p>
            <%= link_to user_ranking_path(@user,rank: 3), method: :delete, data: { confirm: "私の米（まい）ランキングNo3を削除しますか？" }  do %>
              <i class="fa-solid fa-delete-left ml-4"></i>
            <% end%>
          </div>
        <% end %>
        <% if @user.user_rankings.count == 3 %>
          <%= link_to "https://twitter.com/share?url=https://www.find-my-rice.com/#{twitter_share_message(@user)}", target: '_blank', class:"mt-4" do %>
            <i class="fab fa-twitter" style='color: #3399FF;'></i>
            <span>私の米（まい）ランキングをtwitterシェアしよう！</span>
            <i class="fab fa-twitter" style='color: #3399FF;'></i>
          <% end %>
        <% else %>
          <p class="mt-4">私の米（まい）ランキングを３つ登録するとtwitterシェアができます！</p>
        <% end %>
      <% else %>
        <p class="mt-2">まだ私の米（まい）ランキングが登録されていません</p>
        <p class="mt-2">あなたの推しのお米を登録してお米総選挙投票しよう！！</p>
      <% end %>
      </ul>
    </div>
    <div class="favoritezone flex flex-col items-center">
      <h1 class="text-2xl my-4 font-bold">お気に入りのお米一覧</h1>
      <ul class="flex flex flex-col items-center">
        <% if @favorite_list.present? %>
          <% @favorite_list.each do |fav| %>
            <li class="mb-2"> <%= link_to fav.rice.name, rice_path(fav.rice, keyword: fav.rice.name) %> </li>
          <% end%>
        <% else %>
          <li> まだお米のお気に入り登録をしていません </li>
        <% end %>
      </ul>
    </div>

    <%= link_to "マイページ編集", edit_users_path, class:"shadow bg-gray-500 hover:bg-gray-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-8 rounded my-10 "%>
  </div>
</div>
