<div class="container flex flex-col items-center ">
  <div class="title">
    <h1 class="text-2xl my-4 font-bold"> マイページ </h1>
  </div>
  <div class="flex flex-col items-center">
    <h1 class="text-xl my-2 font-bold"> ニックネーム </h1>
    <h2> <%= "#{@user.name}"%></h2>
    <h1 class="text-xl my-2 font-bold"> メールアドレス</h1>
    <h2> <%= "#{@user.email}"%></h2>
  </div>
  <div class="my_ranking">
    <h1 class="text-2xl my-4 font-bold">私の米（まい）ランキング</h1>
    <ul class="flex flex flex-col items-center">

    <%# 後でパーシャル設定にする %>
    <% if @user.user_rankings.present? %>
      <% if @user.user_rankings.find_by(rank:1) %>
        <div class="flex">
          <p class="mr-4">No1</p>
          <%= link_to  @user.user_rankings.find_by(rank:1).rice.name , rice_path(@user.user_rankings.find_by(rank:1).rice) if @user.user_rankings.find_by(rank:1) %></p>
          <%= link_to user_ranking_destroy_path(rank: 1) do %>
            <i class="fa-solid fa-delete-left ml-4"></i>
          <% end%>
        </div>
      <% end %>
      <% if @user.user_rankings.find_by(rank:2) %>
        <div class="flex">
          <p class="mr-4">No2</p>
          <%= link_to  @user.user_rankings.find_by(rank:2).rice.name , rice_path(@user.user_rankings.find_by(rank:2).rice) if @user.user_rankings.find_by(rank:2)%></p>
          <%= link_to user_ranking_destroy_path(rank: 2) do %>
            <i class="fa-solid fa-delete-left ml-4"></i>
          <% end%>
        </div>
      <% end %>
      <% if @user.user_rankings.find_by(rank:3) %>
        <div class="flex">
          <p class="mr-4">No3</p>
          <%= link_to  @user.user_rankings.find_by(rank:3).rice.name , rice_path(@user.user_rankings.find_by(rank:3).rice)  %></p>
          <%= link_to user_ranking_destroy_path(rank: 3) do %>
            <i class="fa-solid fa-delete-left ml-4"></i>
          <% end%>
        </div>
      <% end %>
    <% else %>
      <p>まだ私の米（まい）ランキングが登録されていません</p>
    <% end %>

    </ul>
  </div>
  <div class="favoritezone flex flex-col items-center">
    <h1 class="text-2xl my-4 font-bold">お気に入りのお米一覧</h1>
    <ul class="flex flex flex-col items-center">
      <% if @favorite_list.present? %>
        <% @favorite_list.each do |fav| %>
          <li class="mb-2"> <%= link_to fav.rice.name, rice_path(fav.rice, keyword: fav.rice.name) %> </li>
        <% end%>
      <% else %>
        <li> まだお米のお気に入り登録をしていません </li>
      <% end %>
    </ul>
  </div>

  <%= link_to "マイページ編集", edit_users_path, class:"shadow bg-gray-500 hover:bg-gray-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-8 rounded my-10 "%>
</div>
