<div class="container flex flex-col items-center ">
  <div class="title">
    <h1 class="text-2xl my-4 font-bold"> マイページ </h1>
  </div>
  <div class="flex flex-col items-center">
    <h1 class="text-xl my-2 font-bold"> ニックネーム </h1>
    <h2> <%= "#{@user.name}"%></h2>
    <h1 class="text-xl my-2 font-bold"> メールアドレス</h1>
    <h2> <%= "#{@user.email}"%></h2>
  </div>
  <div class="my_ranking">
    <h1 class="text-2xl my-4 font-bold">私の米（まい）ランキング</h1>
    <ul class="flex flex flex-col items-center">

      <li> 今後実装予定</li>
      <%= @user.user_rankings.first.rice.name %>
      <%= @user.user_rankings.second.rice.name %>
      <%= @user.user_rankings.third.rice.name %>



    </ul>
  </div>
  <div class="favoritezone flex flex-col items-center">
    <h1 class="text-2xl my-4 font-bold">お気に入りのお米一覧</h1>
    <ul class="flex flex flex-col items-center">
      <% @favorite_list.each do |rice| %>
        <li class="mb-2"> <%= link_to rice.name, rice_path(rice, keyword: rice.name) %> </li>
      <% end%>
    </ul>
  </div>

  <%= link_to "マイページ編集", edit_users_path, class:"shadow bg-gray-500 hover:bg-gray-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-8 rounded my-10 "%>
</div>
