<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_pack_tag 'admin' %>
  </head>

  <body>
  <% if logged_in? %>
    <%# <%= render 'admin/shared/header' %>
    <%# <%= render 'admin/shared/sidebar' %> %> %>
  <% end %>

    <%= yield %>
    <%# <%= render 'admin/shared/footer' %> %>
  </body>
</html>
