<div class="">
  <h1 class="">ユーザー管理ページ</h1>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col"><%= "ID" %></th>
          <th scope="col"><%= "ニックネーム" %></th>
          <th scope="col"><%= "email" %></th>
          <th scope="col"><%= "ロール" %></th>
          <th scope="col">管理項目</th>
        </tr>
        </thead>
        <tbody>
          <% @users.each do |user|%>
            <tr>
              <td><%= user.id %></td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= "ロール" %></td>
              <td>
                <%= link_to "削除", admin_user_path(user), method: :delete, data: {confirm: "#{user.name}を削除しますか？"} %>
              </td>
            </tr>
          <% end%>
        </tbody>
      </div>
    </div>
  </div>
</div>
